
			/*Video*/
			 #Video
			    {
			     position:absolute;
			     top: 480px;
			     left:950px;        
			     width:250px;       
			     display:block;
			     z-index:99;
			     }	
			    /*El boton*/
			    .myButton {
				-moz-box-shadow:inset 15px 2px 8px -22px #e67a73;
				-webkit-box-shadow:inset 15px 2px 8px -22px #e67a73;
				box-shadow:inset 15px 2px 8px -22px #e67a73;
				background-color:#e4685d;
				-moz-border-radius:4px;
				-webkit-border-radius:4px;
				border-radius:4px;
				border:4px solid #ffffff;
				display:inline-block;
				cursor:pointer;
				color:#ffffff;
				font-family:Arial;
				font-size:23px;
				padding:26px 51px;
				text-decoration:none;
				text-shadow:0px 1px 0px #b23e35;
				position: relative;
			}
			.myButton:hover {
				background-color:#eb675e;
			}
			.myButton:active {
				position:relative;
				top:1px;
			}
			.myButton{
				  position: absolute;
				  top:  350px; 
				  left: 1000px;
				}
				/*tabla*/
			.tabla{
				position: absolute;
				 top:  500px; 
				 left: 200px;
			}
			.noti{
				position: relative;
				top: 300px;
			}
			.info{
				display: block;
     			margin-left: auto;
      			margin-right: auto;
      			border:none;
			}
			.modelo{
			     position:absolute;
			     top: 500px;
			     left:950px;  

			}
			.banner{
					width: 1000px;
					height: 250px;
                    border: 3px solid red;
					margin: auto; 

					background-size: 100% 100%;
					
					animation: banner 10s infinite;
					animation-direction: alternate;

					}
			@keyframes banner {
				0%, 30%{
					background-image: url(Media/1439169777118.jpg);
					opacity: 1;
				}
				31%, 34%{
					opacity: 0.1;
				}
				35%, 65%{
					background-image: url(Media/2.jpg);
					opacity: 1;
				}
				66%, 69%{
					opacity: 0.1;
				}
				70%, 100%{
					background-image: url(Media/3.jpg);
					opacity: 1;
				}
			}

 div {
    position: relative;
    border-radius: 10px;
    font-family: sans-serif; line-height: 20px;
    color:white;
}
#principal {
     width: 280px; 
     height: 100px; 
    right: 150px;
	background: #9B8F8F;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    border-radius: 999px;
    transition: all 0.5s;
}

#principal:hover {
	background: #bcdffa;
    color: #9B8F8F;
}
#secundario {
    max-width: 800px;
	max-height: 0px;
    left: 150px;
    top: -100px;
	background: #9B8F8F;
	transition: all 0.9s ease-in-out;
    overflow: hidden;

}

#principal:hover + #secundario {
	opacity: 1;
	max-height: 999px;
}

.parrafos {
    position: relative;
    padding: 1em;
}


.ps{
    background: #978B8B;
    font-family: sans-serif; font-size: 35px; line-height: 42px; text-align: center; text-decoration: underline;
    color:white;
}
    